{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new
{% endblock %}

{% block body %}
    <h2 style="text-align: center;">Create a new encyclopedia entry</h2>
    <br>

    <form class="d-flex flex-column align-items-center align-items-xl-center" action="{% url 'create_new' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col"><label class="col-form-label d-xl-flex" for="title">Title:</label></div>
            <div class="col"><input id="title" type="text" autofocus name="title" placeholder="Title" style="width: 240px;" /></div>
        </div>
        <div class="form-row align-self-start">
            <div class="col offset-9"><label class="col-form-label" for="content">Content:</label></div>
        </div><textarea id="content" name="content" placeholder="Write something here"></textarea>
        <div class="col offset-2"><button class="btn btn-primary" type="submit" style="width: 120.1719px;margin-top: 14px;">Submit</button></div>
    </form>

{% endblock %}